<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Root Config</title>
  <!--
    Remove this if you only support browsers that support async/await.
    This is needed by babel to share largeish helper code for compiling async/await in older
    browsers. More information at https://github.com/single-spa/create-single-spa/issues/112
  -->
  <script src="https://cdn.jsdelivr.net/npm/regenerator-runtime@0.13.7/runtime.min.js"></script>
  <!--
    This CSP allows any SSL-enabled host and for arbitrary eval(), but you should limit these directives further to increase your app's security.
    Learn more about CSP policies at https://content-security-policy.com/#directive
  -->
  <!--meta http-equiv="Content-Security-Policy" content="default-src 'self' https: localhost:*; script-src 'unsafe-inline' 'unsafe-eval' https: localhost:*; connect-src https: localhost:* ws://localhost:*; style-src 'unsafe-inline' https:; object-src 'none';"-->
  <meta name="importmap-type" content="systemjs-importmap" />
  <!-- If you wish to turn off import-map-overrides for specific environments (prod), uncomment the line below -->
  <!-- More info at https://github.com/joeldenning/import-map-overrides/blob/master/docs/configuration.md#domain-list -->
  <!-- <meta name="import-map-overrides-domains" content="denylist:prod.example.com" /> -->

  <!-- Shared dependencies go into this import map. Your shared dependencies must be of one of the following formats:

    1. System.register (preferred when possible) - https://github.com/systemjs/systemjs/blob/master/docs/system-register.md
    2. UMD - https://github.com/umdjs/umd
    3. Global variable

    More information about shared dependencies can be found at https://single-spa.js.org/docs/recommended-setup#sharing-with-import-maps.
  -->
  <script type="systemjs-importmap">
    {
      "imports": {
        "single-spa": "https://cdn.jsdelivr.net/npm/single-spa@5.9.0/lib/system/single-spa.min.js"
      }
    }
  </script>
  <link rel="preload" href="https://cdn.jsdelivr.net/npm/single-spa@5.9.0/lib/system/single-spa.min.js" as="script">

  <!-- Add your organization's prod import map URL to this script's src  -->
  <!-- <script type="systemjs-importmap" src="/importmap.json"></script> -->

  <% if (isLocal) { %>
  <script type="systemjs-importmap">
    {
      "imports": {
        "@bifrost/root-config": "//localhost:9000/bifrost-root-config.js",
        "react": "https://cdn.jsdelivr.net/npm/react@17.0.2/umd/react.development.js",
        "react-dom": "https://cdn.jsdelivr.net/npm/react-dom@17.0.2/umd/react-dom.development.js",
        "@mui/material": "https://unpkg.com/@mui/material@latest/umd/material-ui.production.min.js",
        "react-hook-form": "https://cdn.jsdelivr.net/npm/react-hook-form@7.17.2/dist/index.umd.min.js",
        "@bifrost/navbar": "//localhost:8500/bifrost-navbar.js",
        "@bifrost/register": "//localhost:8502/bifrost-register.js",
        "@bifrost/applist": "//localhost:8501/bifrost-applist.js",
        "@bifrost/message": "//localhost:8504/bifrost-message.js",
        "@bifrost/notification": "//localhost:8505/bifrost-notification.js"
      }
    }
  </script>
<% } else { %>
  <script type="systemjs-importmap">
    {
      "imports": {
        "@bifrost/root-config": "https://pocmicrofrontendroot.z13.web.core.windows.net/bifrost-root-config.js",
        "react": "https://cdn.jsdelivr.net/npm/react@17.0.2/umd/react.development.js",
        "react-dom": "https://cdn.jsdelivr.net/npm/react-dom@17.0.2/umd/react-dom.development.js",
        "@mui/material": "https://unpkg.com/@mui/material@latest/umd/material-ui.production.min.js",
        "react-hook-form": "https://cdn.jsdelivr.net/npm/react-hook-form@7.17.2/dist/index.umd.min.js",
        "@bifrost/navbar": "https://pocmicrofrontendnavbar.z13.web.core.windows.net/bifrost-navbar.js",
        "@bifrost/register": "https://pocmicrofrontendregister.z13.web.core.windows.net/bifrost-register.js",
        "@bifrost/applist": "https://pocmicrofrontendapplist.z13.web.core.windows.net/bifrost-applist.js",
        "@bifrost/message": "https://pocmicrofrontendroot.z13.web.core.windows.net/bifrost-message.js",
        "@bifrost/notification": "https://pocmicrofrontendroot.z13.web.core.windows.net/bifrost-notification.js"
      }
    }
  </script>
<% } %>

  <!--
    If you need to support Angular applications, uncomment the script tag below to ensure only one instance of ZoneJS is loaded
    Learn more about why at https://single-spa.js.org/docs/ecosystem-angular/#zonejs
  -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/zone.js@0.11.3/dist/zone.min.js"></script> -->

  <script src="https://cdn.jsdelivr.net/npm/import-map-overrides@2.2.0/dist/import-map-overrides.js"></script>
  <% if (isLocal) { %>
  <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/system.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/extras/amd.js"></script>
  <% } else { %>
  <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/system.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/extras/amd.min.js"></script>
  <% } %>

  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
  />

  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
  />

    <template id="single-spa-layout">
    <single-spa-router>
      <nav class="topnav">
        <application name="@bifrost/navbar"></application>
      </nav>
      <div>
        <application name="@bifrost/notification"></application>
      </div>
      <div class="main-content mt-16">
        <route path="register">
          <application name="@bifrost/register"></application>
        </route>
        <route path="apps">
          <application name="@bifrost/applist"></application>
        </route>
      </div>
    </single-spa-router>
  </template>
</head>
<body>
  <noscript>
    You need to enable JavaScript to run this app.
  </noscript>
  <main></main>
  <script>
    System.import('@bifrost/root-config');
  </script>
  <import-map-overrides-full show-when-local-storage="devtools" dev-libs></import-map-overrides-full>
</body>
</html>
